@config "../../tailwind.config.mjs";
@import "tailwindcss";

:root {
  --accent-color: #A155B5;
  --background-0-color: #FBF8FC;
  --background-1-color: #e8e6ed;
  --title-color: #03030e;
  --text-color: #707070;
  --shadow-color: #343C3F;
  --border-color: #707070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #C979DD;
    --background-0-color: #14181B;
    --background-1-color: #1D2226;
    --title-color: #fcf7fe;
    --text-color: #909090;
    --shadow-color: #b7b7b8;
    --border-color: #909090;
  }
}

@layer base {
  :root {
    --font-sans: "Source Serif Pro", serif;
    --font-serif: "Old Standard TT", serif;
  }
}

@layer components {
  .content-width {
    @apply max-w-content-max w-content min-w-content-min;
  }
}

/* 
:root {
  --tw-shadow-color: var(--shadow-color);
}

html, body {
  background-color: var(--main-background-color);
  border-color: var(--border-color);
  color: var(--main-text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
} */
