@charset "UTF-8";
@import url("./fonts.css");
:root {
  /* default width */
  --min-content-width: 350px;
  --content-width: 80%;
  --max-content-width: 60em;
  --line-after-title-width: 50px;
  /* borders */
  --border-radius: 10px;
  --border-width: 1px;
  /* Margins */
  --default-top-margin: calc(2 * var(--text-font-size));
  --default-left-margin: auto;
  --default-right-margin: auto;
  /* text */
  /* list styles */
  --list-styles: none;
}

:root {
  --light-mode-accent-color: #A155B5;
  --light-mode-sec-accent-color: #A155B5;
  --light-mode-body-background-color: #fcf7fe;
  --light-mode-main-background-color: #FBF8FC;
  --light-mode-layer-0-background-color: #F3F0F6;
  --light-mode-layer-1-background-color: #e8e6ed;
  --light-mode-layer-2-background-color: #D1D1DB;
  --light-mode-border-color: #707070;
  --light-mode-title-color: #03030e;
  --light-mode-text-color: #707070;
  --light-mode-shadow-color: #343C3F;
  --dark-mode-accent-color: #C979DD;
  --dark-mode-sec-accent-color: #C979DD;
  --dark-mode-body-background-color: #0e1112;
  --dark-mode-main-background-color: #14181B;
  --dark-mode-layer-0-background-color: #1D2226;
  --dark-mode-layer-1-background-color: #343C3F;
  --dark-mode-layer-2-background-color: #4D585C;
  --dark-mode-border-color: #909090;
  --dark-mode-title-color: #fcf7fe;
  --dark-mode-text-color: #909090;
  --dark-mode-shadow-color: #909090;
}

:root {
  --accent-color: var(--dark-mode-accent-color);
  --sec-accent-color: var(--dark-mode-sec-accent-color);
  --body-background-color: var(--dark-mode-body-background-color);
  --main-background-color: var(--dark-mode-main-background-color);
  --layer-0-background-color: var(--dark-mode-layer-0-background-color);
  --layer-1-background-color: var(--dark-mode-layer-1-background-color);
  --layer-2-background-color: var(--dark-mode-layer-2-background-color);
  --border-color: var(--dark-mode-border-color);
  --title-color: var(--dark-mode-title-color);
  --text-color: var(--dark-mode-text-color);
  --shadow-color: var(--dark-mode-shadow-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--light-mode-accent-color);
    --sec-accent-color: var(--light-mode-sec-accent-color);
    --body-background-color: var(--light-mode-body-background-color);
    --main-background-color: var(--light-mode-main-background-color);
    --layer-0-background-color: var(--light-mode-layer-0-background-color);
    --layer-1-background-color: var(--light-mode-layer-1-background-color);
    --layer-2-background-color: var(--light-mode-layer-2-background-color);
    --border-color: var(--light-mode-border-color);
    --title-color: var(--light-mode-title-color);
    --text-color: var(--light-mode-text-color);
    --shadow-color: var(--light-mode-shadow-color);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: var(--dark-mode-accent-color);
    --sec-accent-color: var(--dark-mode-sec-accent-color);
    --body-background-color: var(--dark-mode-body-background-color);
    --main-background-color: var(--dark-mode-main-background-color);
    --layer-0-background-color: var(--dark-mode-layer-0-background-color);
    --layer-1-background-color: var(--dark-mode-layer-1-background-color);
    --layer-2-background-color: var(--dark-mode-layer-2-background-color);
    --border-color: var(--dark-mode-border-color);
    --title-color: var(--dark-mode-title-color);
    --text-color: var(--dark-mode-text-color);
    --shadow-color: var(--dark-mode-shadow-color);
  }
}
.RGB-background {
  background-color: red;
  animation: RGB-background-animation 6s infinite normal linear;
}

@keyframes RGB-background-animation {
  0%, 100% {
    background-color: rgb(255, 0, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
}
.RGB-text-color {
  animation: RGB-text-color-animation 6s infinite reverse linear;
}

@keyframes RGB-text-color-animation {
  0%, 100% {
    color: rgb(255, 0, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  66% {
    color: rgb(0, 0, 255);
  }
}
.RGB-shadow {
  animation: RGB-shadow-animation 6s infinite reverse linear;
}

@keyframes RGB-shadow-animation {
  0%, 100% {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) rgb(255, 0, 0);
  }
  33% {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) rgb(0, 255, 0);
  }
  66% {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) rgb(0, 0, 255);
  }
}
.RGB-all-the-things {
  animation: RGB-all-the-things-animation 6s infinite reverse linear;
}

@keyframes RGB-all-the-things-animation {
  0%, 100% {
    background-color: rgb(122, 122, 0);
    color: rgb(255, 0, 0);
  }
  33% {
    background-color: rgb(0, 122, 122);
    color: rgb(0, 255, 0);
  }
  66% {
    background-color: rgb(122, 0, 122);
    color: rgb(0, 0, 255);
  }
}
.animated-shadow {
  animation: shadowAnimation 4s infinite normal linear;
}

@keyframes shadowAnimation {
  0%, 100% {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) calc(1 * var(--shadow-spread-radius)) var(--shadow-color);
  }
  25% {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) calc(2 * var(--shadow-spread-radius)) var(--shadow-color);
  }
  50% {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) calc(1 * var(--shadow-spread-radius)) var(--shadow-color);
  }
  75% {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) calc(0 * var(--shadow-spread-radius)) var(--shadow-color);
  }
}
.follows-content-width-rules, blockquote, figure, details, canvas, object, table, section > p, header > p, footer > p, h1, h2, h3, h4, h5, h6, section > * {
  width: var(--content-width);
  max-width: var(--max-content-width);
}

.no-line::after {
  content: none !important;
}

.full-screen {
  height: 100vh;
  width: 100vw;
}

.follower, .bottom-follower, .right-follower, .left-follower, .top-follower {
  position: fixed;
}

.top-follower {
  top: 0;
}

.left-follower {
  left: 0;
}

.right-follower {
  right: 0;
}

.bottom-follower {
  bottom: 0;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center, blockquote p, * {
  text-align: center;
}

.text-align-justify, p {
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.layer-0, blockquote, figure, details, table tr, img, .box {
  background-color: var(--layer-0-background-color);
}

.layer-1, table tr:nth-child(even) {
  background-color: var(--layer-1-background-color);
}

.layer-2 {
  background-color: var(--layer-2-background-color);
}

.hidden {
  display: none !important;
}

@media (prefers-color-scheme: light) {
  .dark-mode {
    display: none !important;
  }
}
@media (prefers-color-scheme: dark) {
  .light-mode {
    display: none !important;
  }
}
.not-scrollable, img, .box {
  overflow: hidden;
}

.not-resizable {
  resize: none;
}

.bold {
  font-weight: bold;
}

.rounded, blockquote, figure, details, canvas, object, img, .box {
  border-radius: var(--border-radius);
}

.bordered, .box {
  border-width: var(--border-width);
  border-color: var(--border-color);
  border: solid;
}

:root {
  --shadow-offset-x: 0;
  --shadow-offset-y: 0;
  --shadow-blur-radius: 2em;
  --shadow-spread-radius: -0.5em;
}

.shadow, button, img, main, .box {
  box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color);
}

.horizontally-centered, img, .box, .follows-content-width-rules, blockquote, figure, details, canvas, object, table, section > p, header > p, footer > p, h1, h2, h3, h4, h5, h6, section > * {
  margin-left: auto;
  margin-right: auto;
}

.vertically-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  min-width: auto;
  width: var(--content-width);
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: var(--default-top-margin);
  aspect-ratio: 1/1;
}

.blackout {
  z-index: 1000000;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
  .blackout {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.not-selectable, * {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */ /* IE 10+ */
  user-select: none; /* Standard syntax */
}

* {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  accent-color: var(--accent-color);
}

* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background-color: var(--body-background-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

head {
  display: none;
}

body {
  background-color: var(--body-background-color);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

body > *:first-child,
body > *:first-child > *:first-child,
body > *:first-child > *:first-child > *:first-child,
body > *:first-child > *:first-child > *:first-child > *:first-child,
body > *:first-child > *:first-child > *:first-child > *:first-child > *:first-child,
body > *:first-child > *:first-child > *:first-child > *:first-child > *:first-child > *:first-child {
  margin-top: 0;
}

:root {
  --min-main-width: 350px;
  --max-main-width: 1920px;
}

main {
  background-color: var(--main-background-color);
  min-width: var(--min-main-width);
  width: 100%;
  max-width: var(--max-main-width);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  display: block;
}
main section:first-of-type {
  margin-top: 0;
}

section {
  width: 100%;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --title-font-size-max: calc(3 * var(--text-font-size));
  --title-font-size-scaler: calc(var(--text-font-size) / 4);
  --title-font: "Old Standard TT", serif;
  --title-line-width: 50px;
  --title-line-height: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  color: var(--title-color);
  margin-top: 2rem;
}

h1::after, h2::after, h3::after, h3::after, h4::after, h4::after, h5::after, h6::after {
  background-color: var(--accent-color);
  width: var(--title-line-width);
  height: var(--title-line-height);
  margin-top: calc(var(--default-top-margin) / 2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(var(--default-top-margin) / 2);
  display: block;
  content: " ";
}

h1 {
  font-size: calc(var(--title-font-size-max) - 1 * var(--title-font-size-scaler));
  margin-top: calc(30px + var(--default-top-margin) * 3 / 1);
}

h2 {
  font-size: calc(var(--title-font-size-max) - 2 * var(--title-font-size-scaler));
  margin-top: calc(30px + var(--default-top-margin) * 3 / 2);
}

h3 {
  font-size: calc(var(--title-font-size-max) - 3 * var(--title-font-size-scaler));
  margin-top: calc(30px + var(--default-top-margin) * 3 / 3);
}

h4 {
  font-size: calc(var(--title-font-size-max) - 4 * var(--title-font-size-scaler));
  margin-top: calc(30px + var(--default-top-margin) * 3 / 4);
}

h5 {
  font-size: calc(var(--title-font-size-max) - 5 * var(--title-font-size-scaler));
  margin-top: calc(30px + var(--default-top-margin) * 3 / 5);
}

h6 {
  font-size: calc(var(--title-font-size-max) - 6 * var(--title-font-size-scaler));
  margin-top: calc(30px + var(--default-top-margin) * 3 / 6);
}

:root {
  --text-font-size: 16px;
  --text-font: "Source Serif Pro", monospace;
}

p {
  width: -moz-fit-content;
  width: fit-content;
}

section > p, header > p, footer > p {
  margin-top: var(--text-font-size);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
  max-width: min(var(--max-content-width), var(--content-width));
}

a {
  color: var(--accent-color);
  display: inline;
}

b {
  display: inline;
}

i {
  display: inline;
}

u {
  display: inline;
}

em {
  font-family: var(--title-font);
  color: var(--accent-color);
  font-weight: bold;
  display: inline;
}

img {
  max-width: 15em;
  margin-top: 2em;
  margin-bottom: 2em;
}

:root {
  --button-width: 14.7em;
  --button-height: 2.7em;
}

button {
  color: var(--dark-mode-title-color);
  background-color: var(--accent-color);
  font-weight: bold;
  height: var(--button-height);
  width: var(--button-width);
  padding: 0;
  display: block;
  border-color: var(--title-color);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-style: solid;
  cursor: pointer;
}

caption {
  padding: 8px;
  caption-side: bottom;
}

table {
  display: table;
  border-collapse: collapse;
  border: 2px solid rgb(100, 100, 100);
  letter-spacing: 1px;
  table-layout: auto;
}
table tr {
  width: 100%;
}
table td, table th {
  padding: 10px 10px;
  display: table-cell;
}

hr {
  max-width: var(--max-content-width);
  height: 5px;
  margin-top: calc(0.6666666667 * var(--default-top-margin));
  margin-right: auto;
  margin-bottom: calc(0.6666666667 * var(--default-top-margin));
  margin-left: auto;
  border: none;
  border-top: 3px double var(--text-color);
  overflow: visible;
}

hr::after {
  color: var(--text-color);
  background-color: var(--main-background-color);
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin-top: var(--text-font-size);
  margin-right: auto;
  margin-left: auto;
  padding: 0 4px;
  display: block;
  top: -28px;
  position: relative;
  border-radius: 50%;
  aspect-ratio: 1/1;
  content: "ยง";
}

object {
  color: var(--text-color);
  background-color: var(--layer-0-background-color);
  width: var(--content-width);
}

canvas {
  color: var(--text-color);
  background-color: var(--layer-0-background-color);
  width: var(--content-width);
  margin-top: var(--default-top-margin);
  border-radius: var(--border-radius);
}

details {
  width: var(--content-width);
  cursor: pointer;
}

details > summary {
  list-style-type: ">";
}

details[open] > summary {
  list-style-type: "v";
}

figure {
  width: var(--content-width);
}

blockquote {
  width: var(--content-width);
  padding: 0.5em;
}
blockquote p {
  font-style: italic;
  width: 100%;
}
blockquote p::before, blockquote p::after {
  content: '"';
}

style {
  display: none;
}

script {
  display: none;
}