:root {
  --accent-color: #A155B5;
  --sec-accent-color: #A155B5;
}

body {
  background-color: var(--light-mode-main-background-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-mode-main-background-color);
  }
}
main {
  min-height: 100vh !important;
  height: max(-moz-fit-content, 100vh) !important;
  height: max(fit-content, 100vh) !important;
  max-height: auto !important;
  min-width: 100vw !important;
  width: max(-moz-fit-content, 100vw) !important;
  width: max(fit-content, 100vw) !important;
  max-width: auto !important;
}

#error-pages-404-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#error-pages-404-img {
  width: var(--content-width);
  max-width: 15em;
  box-shadow: none;
  background-color: transparent;
}

#error-pages-404-h1 {
  font-weight: bold;
}

#error-pages-404-h1::after {
  content: none;
}

#error-pages-404-h2 {
  margin-top: 0em;
}

#error-pages-404-p {
  margin-top: 3em;
}

#error-pages-404-a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

#error-pages-404-contact-me-button {
  margin: 0;
  border: none;
}